In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("logisticRegressionSubmit.csv")
df.head()

    X     Y
0  12  Fail
1  36  Pass
2  37  Pass
3  47  Pass
4  10  Fail

In [3]:
df

     X     Y
0   12  Fail
1   36  Pass
2   37  Pass
3   47  Pass
4   10  Fail
5   10  Fail
6   96  Pass
7   23  Fail
8   51  Pass
9   72  Pass
10  65  Pass
11  15  Fail
12  29  Fail
13  45  Pass
14  50  Pass

In [4]:
X=df.iloc[:,:-1].values
X

array([[12],
       [36],
       [37],
       [47],
       [10],
       [10],
       [96],
       [23],
       [51],
       [72],
       [65],
       [15],
       [29],
       [45],
       [50]])

In [5]:
Y=df.iloc[:,-1].values
Y

array(['Fail', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Fail',
       'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Pass'],
      dtype=object)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=4,test_size = 0.25)

In [7]:
clf =  DecisionTreeClassifier()

In [8]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [9]:
pred=clf.predict(x_test)

In [10]:
y_test, pred

(array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object),
 array(['Fail', 'Fail', 'Pass', 'Pass'], dtype=object))